{
	email {$CADDY_EMAIL}
}

{$SEALED_DOMAIN} {
	@compressible {
		header Content-Type application/json*
		header Content-Type text*
	}
	encode @compressible gzip
	reverse_proxy relay:8000 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Real-IP {remote_host}
	}
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
		-Server
	}
}
